p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.yellowbox {
  padding: 1em;
  background: lightyellow;
  color: black;
}

.center {
  text-align: center;
}

.title {
  font-size: 24px;
}